{% extends 'layout/settings.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}
{% import 'admin/macro/crud_filters.html.twig' as filters %}

{% set crudOptions = {
	create: false,
} %}


{% block body %}
	<div class="mb-6 flex flex-wrap gap-4 justify-between lg:items-center max-lg:flex-col">
		<h2 class="text-title-md font-bold">Tarifs</h2>
			{{ crud.tabulation(["Hebergements","Options supplémentaires","Adulte/Enfant","Offres"]) }}
	</div>

	{{ crud.basic('Hebergements', tables.tarifs(hebergements)) }}
	{{ crud.basic('Options supplémentaires', tables.tarifs(options)) }}
	{{ crud.basic('Adulte/enfant', tables.tarifs(ageCategory)) }}
	{{ crud.basic('Offres', tables.offres(offres)) }}
{% endblock %}
