{% macro deleteButton(id = 0, url = null, type = null , title = null ) %}
	{% import 'macro/svg.html.twig' as svg %}
	{% set path = url|default(path('app_admin_delete_redirect', {id: id})) %}
	<button {{ stimulus_controller('delete') }} data-id={{ id }} data-path={{ path }} data-type={{ type|default('entité') }} data-name={{ title|default('objet') }} {{ stimulus_action('delete','show')}} class="btn btn-sm  delete">
		{{ svg.trash }}
		Supprimer
	</button>
{% endmacro %}

{% macro updateButton(id = 0, url = false) %}
{% set path = url|default(path('app_admin_update_redirect', {id: id})) %}
	{% import 'macro/svg.html.twig' as svg %}
	<a href={{ path }} class="btn btn-sm update">
		{{ svg.edit }}
		Modifier
	</a>
{% endmacro %}

{% macro seeMoreButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn btn-sm btn-border see-more">
		{{ svg.eye }}
		Voir
	</button>
{% endmacro %}

{% macro printButton(id = 'month', text = 'Imprimer', large = false) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn {{ large ? : 'btn-sm' }} btn-border see-more">
		{{ svg.print }}
		{{ text }}
	</button>
{% endmacro %}

{% macro addButton(id = 'add', text = 'Ajouter', large = false, url = false) %}
{% set path = url|default(path('app_admin_create_redirect')) %}
	{% import 'macro/svg.html.twig' as svg %}
	<a href={{ path }} class="btn {{ large ? : 'btn-sm' }} btn-border see-more">
		{{ svg.plus }}
		{{ text }}
	</a>
{% endmacro %}


{% macro reservations(reservations = 'array des reservations') %}
	{% import 'macro/svg.html.twig' as svg %}
	<table>
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Statut</th>
				<th scope="col">Séjour</th>
				<th scope="col">Nombre</th>
				<th scope="col">Hébergement</th>
				<th scope="col">Tarif</th>
				<th scope="col">Client</th>
				<th scope="col">Réservé le</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>
					<th scope="row">
						{{ reservation.id }}
					</th>
					<td>
						{% import "macro/badges.html.twig" as badge %}
						{{ badge.basic(reservation.statut)}}
					</td>
					<td>
						{{ reservation.debut|format_date }}
						<br>
						{{ reservation.fin|format_date }}
						<br>
						<span class="details">{{ reservation.nuits }} nuits</span>
					</td>
					<td>
						<div class="flex justify-center">
							{{ svg.adult(24) }}
							{{ reservation.adultes }}
						</div>
						<div class="flex justify-center">
							{{ svg.child(24) }}
							{{ reservation.enfants }}
						</div>
					</td>
					<td>
						{{ reservation.emplacement.hebergement.nom}}
						<br>
						Emplacement {{ reservation.emplacement.numero }}</td>
					<td>
						Tarif : {{ reservation.montant }} €
						<br>
						Réglé :
						<span>{{ reservation.paiementsTotal }} €</span>
						<br>
						<span class="details">{{ reservation.options|length }} options</span>
					</td>
					<td>
						<div>
							{{ reservation.user.nom|upper }}
							<br>
							{{ reservation.user.prenom }}
							<br>
							<span class="details">{{ reservation.commentaire ? 'Voir le commentaire' : 'Pas de commentaire' }}</span>
						</div>
					</td>
					<td>
						{{ reservation.date|format_datetime()|split(',')|join('<br>')|raw() }}
					</td>
					<td>
						<div class="actions grid-cols-2">
							{{ _self.seeMoreButton(reservation.id) }}
							{{ _self.updateButton(reservation.id) }}
							{{ _self.printButton(reservation.id,"Facture") }}
							{{ _self.deleteButton(reservation.id,  path('app_admin_reservations_delete', {id: reservation.id} ), 'Réservation', reservation.id ) }}
						</div>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro clients(clients = 'array des user') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Statut</th>
	<th scope="col">
		Nom<br>
		Prénom</th>
	<th scope="col">Email</th>
	<th scope="col">Téléphone</th>
	<th scope="col">Adresse</th>
	<th scope="col">Réservations</th>
	<th scope="col">Création</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for user in clients %}
	<tr>
		<th scope="row">
			{{ user.id }}
		</th>
		<td>
			{% import "macro/badges.html.twig" as badge %}
			{{ badge.basic(user.statut)}}
		</td>
		<td>
			{{ user.nom|upper }}
			<br>
			{{ user.prenom }}
			<br>
		</td>
		<td>
			{{ user.email }}
		</td>
		<td>
			{{ user.telephone|default('<span class="details">Inconnu</span>')|raw() }}
		</td>
		<td>
		{% if user.adresse %}
			{{ user.adresse }}
			<br>
			{{ user.codePostal }}, {{ user.ville }},
			<br>
			{{ user.pays }}
		{% else %}
			<span class="details">Inconnu</span>
		{% endif %}
		</td>
		<td>
			<div>
				{{ user.reservations|length}} réservations
				<br>
				<a href={{ path('app_admin_reservations', {userId: user.id}) }} class="details">Voir les détails</a>
			</div>
		</td>
		<td>
			{{ user.creation|format_datetime()|split(',')|join('<br>')|raw() }}
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(user.id) }}
				{{ _self.deleteButton(user.id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro paiements(user = 'array des paiements') %}{% import 'macro/svg.html.twig' as svg %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Réservation</th>
	<th scope="col">Client</th>
	<th scope="col">Montant</th>
	<th scope="col">Méthode</th>
	<th scope="col">Date du paiement</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 0..5 %}
	{% set id = i %}
	<tr>
		<th scope="row">
			{{ id }}
		</th>
		<td>
			<div>
				1450
				<br>
				<a href="" class="details">Voir la réservation</a>
			</div>
		</td>
		<td>
			BELLILA
			<br>
			Nabil
			<br>
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.euro(24) }}
				</div>
				50,20€
			</div>
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.blueCard(24) }}
				</div>
				Carte bancaire
			</div>
		</td>
		<td>
			14/07/2003
			<br>
			14h57
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro logs(logs) %}{% import 'macro/svg.html.twig' as svg %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Utilisateur</th>
	<th scope="col">Date</th>
	<th scope="col">Contexte</th>
	<th scope="col">Type</th>
	<th scope="col">Message</th>
</tr></thead><tbody>
{% for log in logs %}
	<tr>
		<th scope="row">
			{{ log.id }}
		</th>
		<td>
			{{ log.user.nom|upper }}
			<br>
			{{ log.user.prenom }}
			<br>
		</td>
		<td>
			{{log.date|format_datetime()|split(',')|join('<br>')|raw()}}
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.blueCard(24) }}
				</div>
				{{ log.contexte }}
			</div>
		</td>
		<td>
			<span class="text-danger">
				{{ log.type }}
			</span>
		</td>
		<td>
			{{ log.message }}
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro admins(users = 'array des user') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Statut</th>
	<th scope="col">
		Nom<br>
		Prénom</th>
	<th scope="col">Email</th>
	<th scope="col">Téléphone</th>
	<th scope="col">Adresse</th>
	<th scope="col">Registre</th>
	<th scope="col">Création</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for user in users %}
	<tr>
		<th scope="row">
			{{ user.id }}
		</th>
		<td>
			{% import "macro/badges.html.twig" as badge %}
			{{ badge.basic(user.statut)}}
		</td>
		<td>
			{{ user.nom|upper }}
			<br>
			{{ user.prenom }}
			<br>
		</td>
		<td>
			{{ user.email }}
		</td>
		<td>
			{{ user.telephone|default('<span class="details">Inconnu</span>')|raw() }}
		</td>
		<td>
		{% if user.adresse %}
			{{ user.adresse }}
			<br>
			{{ user.codePostal }}, {{ user.ville }},
			<br>
			{{ user.pays }}
		{% else %}
			<span class="details">Inconnu</span>
		{% endif %}
		</td>
		<td>
			<div>
				{{ user.logs|length }} actions
				<br>
				<a href={{ path('app_admin_settings_logs', { userId: user.id }) }} class="details">Voir les actions</a>
			</div>
		</td>
		<td>
			{{ user.creation|format_datetime()|split(',')|join('<br>')|raw() }}
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(user.id) }}
				{{ _self.deleteButton(user.id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>
{% endmacro %}

{% macro emplacements(emplacements = 'array des emplacements') %}
	<table>
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">N°</th>
			<th scope="col">Type d'hébergement (ID)</th>
			<th scope="col">Tags</th>
			<th scope="col">Statut</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for emplacement in emplacements %}
			<tr>
				<th scope="row">
					{{ emplacement.id }}
				</th>
				<td>
					{{ emplacement.numero }}
				</td>
				<td>
					{{ emplacement.hebergement.nom }}
					({{emplacement.hebergement.id}})
				</td>
				<td>
					{{ emplacement.tags|map(tag => tag.nom)|join(', ')|default('Aucun') }}
				</td>
				<td>
					{% import "macro/badges.html.twig" as badge %}
					{{ badge.basic(emplacement.statut) }}
				</td>
				<td>
					<div class="actions">
						{{ _self.updateButton(emplacement.id) }}
						{{ _self.deleteButton(emplacement.id, path('app_admin_settings_emplacements_delete', {id: emplacement.id}), "Emplacement", emplacement.numero) }}
					</div>
				</td>
			</tr>
		{% endfor %}</tbody></table>
		
		{% endmacro %}
		
		{% macro saisons(saisons = 'array des saisons') %}<table><thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nom</th>
			<th scope="col">Statut</th>
			<th scope="col">Début</th>
			<th scope="col">Fin</th>
			<th scope="col">Jours</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for saison in saisons %}
			<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
				<th scope="row">
					{{ saison.id }}
				</th>
				<td>
					{{ saison.nom }}
				</td>
				<td>
					{% import "macro/badges.html.twig" as badge %}
					{{ badge.basic(saison.statut)}}
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="actions">
						{{ _self.addButton(saison.id, "Ajouter une période", false, path( 'app_admin_settings_saisons_periode_create', {id: saison.id})) }}
						{{ _self.updateButton(saison.id) }}
						{{ _self.deleteButton(saison.id, path('app_admin_settings_saisons_delete', {id: saison.id}), 'Saison', saison.nom) }}
					</div>
				</td>
			</tr>

			{% for date in saison.periodes %}
				<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
					<th scope="row"></th>
					<td></td>
					<td></td>
					<td>
						{{ date.debut|format_date }}
					</td>
					<td>
						{{ date.fin|format_date }}
					</td>
					<td>
					{{ date.jours|map(jour => jour)|join(', ')|default('Tous') }}
					</td>
					<td>
						<div class="actions">
							{{ _self.updateButton(date.id, path('app_admin_settings_saisons_periode_update', { id: date.id })) }}
							{{ _self.deleteButton(date.id, path('app_admin_settings_saisons_periode_delete', { id: date.id }), 'période' , date.saison.nom) }}
						</div>
					</td>
				</tr>
			{% endfor %}

		{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro tags(tags = 'array des tag') %}
	<table>
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nom</th>
			<th scope="col">Emplacements</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for tag in tags %}
			<tr>
				<th scope="row">
					{{ tag.id }}
				</th>
				<td>
					{{ tag.nom }}
				</td>
				<td>
					{{ tag.emplacements|length }} Emplacements
				</td>
				<td>
					<div class="actions">
						{{ _self.updateButton(tag.id) }}
						{{ _self.deleteButton(tag.id, path('app_admin_settings_tags_delete', {id: tag.id}), "Tag", tag.nom) }}
					</div>
				</td>
			</tr>
		{% endfor %}</tbody></table>{% endmacro %}

{% macro options(options = 'array des options') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Nom</th>
	<th scope="col">Statut</th>
	<th scope="col">Nombre maximum</th>
	<th scope="col">Hebergements</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for option in options %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ option.id }}
		</th>
		<td>
			{{ option.nom }}
		</td>
		<td>
			{% import "macro/badges.html.twig" as badge %}
			{{ badge.basic(option.statut)}}
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{{ _self.addButton(option.id, "Ajouter une option", false, path( 'app_admin_settings_options_maximum_create', {id: option.id}) ) }}
				{{ _self.updateButton(option.id) }}
				{{ _self.deleteButton(option.id, path( 'app_admin_settings_options_delete', {id: option.id} ), 'Option', option.nom) }}
			</div>
		</td>
	</tr>

	{% for maximum in option.optionMaximums %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td></td>
			<td>
				{{ maximum.nombre }}
			</td>
			<td>
			 	{{ maximum.hebergements|map(hebergement => hebergement.nom)|join(', ')|default('Tous')  }}
			</td>
			<td>
			 	{{ maximum.saisons|map(saison => saison.nom)|join(', ')|default('Tous')  }}
			</td>
			<td>
				<div class="actions">
					{{ _self.updateButton(maximum.id, path('app_admin_settings_options_maximum_update', { id: maximum.id })) }}
					{{ _self.deleteButton(maximum.id, path('app_admin_settings_options_maximum_delete', { id: maximum.id }), 'maximum' , maximum.nombre) }}
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro offres(array = ["Remise/coupon"]) %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Type</th>
	<th scope="col">Nom</th>
	<th scope="col">Montant</th>
	<th scope="col">Début</th>
	<th scope="col">Fin</th>
	<th scope="col">Utilisations restantes</th>
	<th scope="col">Hebergements</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for type in array %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ type.id }}
		</th>
		<td>
			{{ type.type }}
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{{ _self.addButton(type.id, "Ajouter une offre", false, path('app_admin_settings_tarifs_offres_create', {type: type.type, id: type.id})) }}
			</div>
		</td>
	</tr>
	{% for offre in type.offres %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td>{{ offre.nom }}</td>
			<td>
				{{ (offre.montant / 100)|number_format(2, ',', '.')  }}
				{{ offre.devise is same as 'euro' ? '€' : '%' }}
			</td>
			<td>
				{{ offre.debut ? offre.debut|format_date : "Pas de date de début" }}
			</td>
			<td>
				{{ offre.fin ? offre.fin|format_date : "Pas de date de début" }}

			</td>
			<td>
			{{ offre.utilisations|default('Pas de limite d\'utilisation') }}
			</td>
			<td>
			{{ offre.hebergements|map(hebergement => hebergement.nom)|join(', ')|default('Tous')}}
			</td>
			<td>
				<div class="actions">
					{{ _self.updateButton(offre.id, path('app_admin_settings_tarifs_offres_update', {id: offre.id} )) }}
					{{ _self.deleteButton(offre.id, path('app_admin_settings_tarifs_offres_delete', { id: offre.id }), offre.type , offre.nom) }}
				
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro tarifs(type = ["Array du type, exemple : emplacements"], typeName = 'Hebergement') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Nom</th>
	<th scope="col">Prix</th>
	<th scope="col">Par nuit</th>
	<th scope="col">Par personne</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for entity in type %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ entity.id }}
		</th>
		<td>
			{{ entity.nom }}
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{{ _self.addButton(entity.id, "Ajouter un tarif", false, path('app_admin_settings_tarifs_create', {type: typeName, id: entity.id})) }}
			</div>
		</td>
	</tr>
	{% for tarif in entity.tarifs %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td>
				{{ (tarif.montant / 100)|number_format(2, ',', '.') }}
				€
			</td>
			<td>
				{{ tarif.parNuit ? "Oui" : "Non" }}
			</td>
			<td>
				{{ tarif.parPersonne ? "Oui" : "Non" }}
			</td>
			<td>
				{{ tarif.saisons|map(saison => saison.nom)|join(', ')|default('Tous') }}
			</td>
			<td>
				<div class="actions">
					{{ _self.updateButton(tarif.id, path('app_admin_settings_tarifs_update', {id: tarif.id})) }}
					{{ _self.deleteButton(tarif.id, path('app_admin_settings_tarifs_delete', {id: tarif.id}), 'Tarif', (tarif.montant / 100)|number_format(2, ',', '.') ~ "€") }}
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro jours(rules = 'array des règles de checkin/out') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Jours</th>
	<th scope="col">Type d'hébergement</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for rule in rules %}
	<tr>
		<th scope="row">
			{{ rule.id }}
		</th>
		<td>
		{% if rule.checkIn %}
			{{ rule.checkIn|map(day => day)|join(', ')|default('Tous') }}
		{% elseif rule.checkOut %}
			{{ rule.checkOut|map(day => day)|join(', ')|default('Tous') }}
		{% endif %}
		</td>
		<td>
			{{ rule.hebergements|map(hebergement => hebergement.nom)|join(', ')|default('Tous') }}
		</td>
		<td>
			{{ rule.saisons|map(saison => saison.nom)|join(', ')|default('Tous') }}
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(rule.id, path('app_admin_settings_regles_sejour_update', {id: rule.id, type: rule.checkIn ? 'checkin' : 'checkout'})) }}
				{{ _self.deleteButton(rule.id, path('app_admin_settings_regles_sejour_delete', {id: rule.id, type: rule.checkIn ? 'checkin' : 'checkout'}), 'règle', rule.checkIn ? 'arrivé' : 'départ' ) }}
			</div>
		</td>
	</tr>

{% endfor %}
</tbody></table>{% endmacro %}{% macro durée(rules = 'array des règles de min/maxstay') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Séjour</th>
	<th scope="col">Type d'hébergement</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for rule in rules %}
	<tr>
		<th scope="row">
			{{ rule.id }}
		</th>
		<td>
			{{ rule.minimum ?: rule.maximum}}
			nuits
		</td>
		<td>
			{{ rule.hebergements|map(hebergement => hebergement.nom)|join(', ')|default('Tous') }}
		</td>
		<td>
			{{ rule.saisons|map(saison => saison.nom)|join(', ')|default('Tous') }}
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(rule.id, path('app_admin_settings_regles_duree_update', {id: rule.id, type: rule.minimum ? 'minstay' : 'maxstay'})) }}
				{{ _self.deleteButton(rule.id, path('app_admin_settings_regles_duree_delete', {id: rule.id, type: rule.minimum ? 'minstay' : 'maxstay'}), 'règle', rule.minimum ? 'minstay' : 'maxstay' ) }}
			</div>
		</td>
	</tr>

{% endfor %}</tbody></table>{% endmacro %}