{% macro deleteButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn btn-sm btn-border delete">
		{{ svg.trash }}
		Supprimer
	</button>
{% endmacro %}

{% macro updateButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn btn-sm update">
		{{ svg.edit }}
		Modifier
	</button>
{% endmacro %}

{% macro seeMoreButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn btn-sm btn-border see-more">
		{{ svg.eye }}
		Voir
	</button>
{% endmacro %}

{% macro printButton(id = 'month', text = 'Imprimer', large = false) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn {{ large ? : 'btn-sm' }} btn-border see-more">
		{{ svg.print }}
		{{ text }}
	</button>
{% endmacro %}


{% macro reservations(reservations = 'array des reservations') %}
	{% import 'macro/svg.html.twig' as svg %}
	<table>
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Statut</th>
				<th scope="col">Séjour</th>
				<th scope="col">Nombre</th>
				<th scope="col">Hébergement</th>
				<th scope="col">Tarif</th>
				<th scope="col">Client</th>
				<th scope="col">Réservé le</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in 1..5 %}
				<tr>
					<th scope="row">
						1430
					</th>
					<td class="px-4 py-3 text-center">
						<span class="badge success">Confirmé</span>
					</td>
					<td>
						14/07/2003
						<br>
						19/08/2022
						<br>
						<span class="details">5 nuits</span>
					</td>
					<td>
						<div class="flex justify-center">
							{{ svg.adult(24) }}
							2
						</div>
						<div class="flex justify-center">
							{{ svg.child(24) }}
							1
						</div>
					</td>
					<td>
						Camping-car
						<br>
						Emplacement 12</td>
					<td>
						Tarif : 100 €
						<br>
						Réglé :
						<span>90 €</span>
						<br>
						<span class="details">3 options</span>
					</td>
					<td>
						<div>
							BERTRAND
							<br>
							Sylvain
							<br>
							<span class="details">Pas de commentaire</span>
						</div>
					</td>
					<td>
						14/07/2003
						<br>
						14h57
					</td>
					<td>
						<div class="actions grid-cols-2">
							{% set id = i %}
							{{ _self.seeMoreButton(id) }}
							{{ _self.updateButton(id) }}
							{{ _self.printButton(id,"Facture") }}
							{{ _self.deleteButton(id) }}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endmacro %}

{% macro clients(user = 'array des user') %}
	<table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">
					Nom<br>
					Prénom</th>
				<th scope="col">Email</th>
				<th scope="col">Téléphone</th>
				<th scope="col">Adresse</th>
				<th scope="col">Réservations</th>
				<th scope="col">Création</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in 0..5 %}
				<tr>
					<th scope="row">
						1430
					</th>
					<td>
						BELLILA
						<br>
						Nabil
						<br>
					</td>
					<td>
						bellilanabil8@gmail.com
					</td>
					<td>
						06.38.05.89.97
					</td>
					<td>
						17 rue des tilleuls
						<br>
						08000, Villers-Semeuse,
						<br>
						France
					</td>
					<td>
						<div>
							2 réservations
							<br>
							<a href="" class="details">Voir les détails</a>
						</div>
					</td>
					<td>
						14/07/2003
						<br>
						14h57
					</td>
					<td>
						<div class="actions">
							{% set id = i %}
							{{ _self.updateButton(id) }}
							{{ _self.deleteButton(id) }}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro paiements(user = 'array des paiements') %}
	<table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Réservation</th>
				<th scope="col">Client</th>
				<th scope="col">Montant</th>
				<th scope="col">Méthode</th>
				<th scope="col">Date du paiement</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in 0..5 %}
				{% set id = i %}
				<tr>
					<th scope="row">
						{{ id }}
					</th>
					<td>
						<div>
							1450
							<br>
							<a href="" class="details">Voir la réservation</a>
						</div>
					</td>
					<td>
						BELLILA
						<br>
						Nabil
						<br>
					</td>
					<td>
						<div class="flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-badge-euro text-gray-400 mr-2">
								<path d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"/><path d="M7 12h5"/><path d="M15 9.4a4 4 0 1 0 0 5.2"/>
							</svg>
							50,20€
						</div>
					</td>
					<td>
						<div class="flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-credit-card text-gray-400 mr-2"><rect width="20" height="14" x="2" y="5" rx="2"/><line x1="2" x2="22" y1="10" y2="10"/></svg>
							Carte bancaire
						</div>
					</td>
					<td>
						14/07/2003
						<br>
						14h57
					</td>
					<td>
						<div class="actions">
							{{ _self.updateButton(id) }}
							{{ _self.deleteButton(id) }}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}
