{% macro deleteButton(id = 0, path = 'homepage', type = 'Hébergement', title = "Caravane") %}
	{% import 'macro/svg.html.twig' as svg %}
	<button {{ stimulus_controller('delete') }} data-id={{ id }} data-path={{ path }} data-type={{ type }} data-name={{ title }} {{ stimulus_action('delete','show')}} class="btn btn-sm  delete">
		{{ svg.trash }}
		Supprimer
	</button>
{% endmacro %}

{% macro updateButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<a href={{ path('app_admin_update_redirect', {id: id} ) }} class="btn btn-sm update">
		{{ svg.edit }}
		Modifier
	</a>
{% endmacro %}

{% macro seeMoreButton(id) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn btn-sm btn-border see-more">
		{{ svg.eye }}
		Voir
	</button>
{% endmacro %}

{% macro printButton(id = 'month', text = 'Imprimer', large = false) %}
	{% import 'macro/svg.html.twig' as svg %}
	<button type="button" data-id-value={{ id }} class="btn {{ large ? : 'btn-sm' }} btn-border see-more">
		{{ svg.print }}
		{{ text }}
	</button>
{% endmacro %}

{% macro addButton(id = 'add', text = 'Ajouter', large = false, url = false) %}
{% set path = url|default(path('app_admin_create_redirect')) %}
	{% import 'macro/svg.html.twig' as svg %}
	<a href={{ path }} class="btn {{ large ? : 'btn-sm' }} btn-border see-more">
		{{ svg.plus }}
		{{ text }}
	</a>
{% endmacro %}


{% macro reservations(reservations = 'array des reservations') %}
	{% import 'macro/svg.html.twig' as svg %}
	<table>
		<thead>
			<tr>
				<th scope="col">N°</th>
				<th scope="col">Statut</th>
				<th scope="col">Séjour</th>
				<th scope="col">Nombre</th>
				<th scope="col">Hébergement</th>
				<th scope="col">Tarif</th>
				<th scope="col">Client</th>
				<th scope="col">Réservé le</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for i in 1..5 %}
				<tr>
					<th scope="row">
						1430
					</th>
					<td class="px-4 py-3 text-center">
						{% if i is same as 1 or i is same as 5 %}
							<span class="badge success">Confirmé</span>
						{% elseif i % 2 %}
							<span class="badge warning">En attente</span>
						{% else %}
							<span class="badge danger">Annulé</span>
						{% endif %}
					</td>
					<td>
						14/07/2003
						<br>
						19/08/2022
						<br>
						<span class="details">5 nuits</span>
					</td>
					<td>
						<div class="flex justify-center">
							{{ svg.adult(24) }}
							2
						</div>
						<div class="flex justify-center">
							{{ svg.child(24) }}
							1
						</div>
					</td>
					<td>
						Camping-car
						<br>
						Emplacement 12</td>
					<td>
						Tarif : 100 €
						<br>
						Réglé :
						<span>90 €</span>
						<br>
						<span class="details">3 options</span>
					</td>
					<td>
						<div>
							BERTRAND
							<br>
							Sylvain
							<br>
							<span class="details">Pas de commentaire</span>
						</div>
					</td>
					<td>
						14/07/2003
						<br>
						14h57
					</td>
					<td>
						<div class="actions grid-cols-2">
							{% set id = i %}
							{{ _self.seeMoreButton(id) }}
							{{ _self.updateButton(id) }}
							{{ _self.printButton(id,"Facture") }}
							{{ _self.deleteButton(id) }}
						</div>
					</td>
				</tr>
			</tbody>
		</tbody>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro clients(user = 'array des user') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">
		Nom<br>
		Prénom</th>
	<th scope="col">Email</th>
	<th scope="col">Téléphone</th>
	<th scope="col">Adresse</th>
	<th scope="col">Réservations</th>
	<th scope="col">Création</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 0..5 %}
	<tr>
		<th scope="row">
			1430
		</th>
		<td>
			BELLILA
			<br>
			Nabil
			<br>
		</td>
		<td>
			bellilanabil8@gmail.com
		</td>
		<td>
			06.38.05.89.97
		</td>
		<td>
			17 rue des tilleuls
			<br>
			08000, Villers-Semeuse,
			<br>
			France
		</td>
		<td>
			<div>
				2 réservations
				<br>
				<a href="" class="details">Voir les détails</a>
			</div>
		</td>
		<td>
			14/07/2003
			<br>
			14h57
		</td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro paiements(user = 'array des paiements') %}{% import 'macro/svg.html.twig' as svg %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Réservation</th>
	<th scope="col">Client</th>
	<th scope="col">Montant</th>
	<th scope="col">Méthode</th>
	<th scope="col">Date du paiement</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 0..5 %}
	{% set id = i %}
	<tr>
		<th scope="row">
			{{ id }}
		</th>
		<td>
			<div>
				1450
				<br>
				<a href="" class="details">Voir la réservation</a>
			</div>
		</td>
		<td>
			BELLILA
			<br>
			Nabil
			<br>
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.euro(24) }}
				</div>
				50,20€
			</div>
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.blueCard(24) }}
				</div>
				Carte bancaire
			</div>
		</td>
		<td>
			14/07/2003
			<br>
			14h57
		</td>
		<td>
			<div class="actions">
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro logs(logs) %}{% import 'macro/svg.html.twig' as svg %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Utilisateur</th>
	<th scope="col">Date</th>
	<th scope="col">Contexte</th>
	<th scope="col">Type</th>
	<th scope="col">Message</th>
</tr></thead><tbody>
{% for log in logs %}
	<tr>
		<th scope="row">
			{{ log.id }}
		</th>
		<td>
			{{ log.user.nom|upper }}
			<br>
			{{ log.user.prenom }}
			<br>
		</td>
		<td>
			{{log.date|format_datetime()}}
		</td>
		<td>
			<div class="flex items-center justify-center gap-2">
				<div class="text-body">
					{{ svg.blueCard(24) }}
				</div>
				{{ log.contexte }}
			</div>
		</td>
		<td>
			<span class="text-danger">
				{{ log.type }}
			</span>
		</td>
		<td>
			{{ log.message }}
		</td>
	</tr>
{% endfor %}</tbody></table>{% endmacro %}{% macro admins(user = 'array des user') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">
		Nom<br>
		Prénom</th>
	<th scope="col">Email</th>
	<th scope="col">Téléphone</th>
	<th scope="col">Adresse</th>
	<th scope="col">Registre</th>
	<th scope="col">Création</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 0..5 %}
	<tr>
		<th scope="row">
			1430
		</th>
		<td>
			BELLILA
			<br>
			Nabil
			<br>
		</td>
		<td>
			bellilanabil8@gmail.com
		</td>
		<td>
			06.38.05.89.97
		</td>
		<td>
			17 rue des tilleuls
			<br>
			08000, Villers-Semeuse,
			<br>
			France
		</td>
		<td>
			<div>
				150 actions
				<br>
				<a href={{ path('app_admin_settings_logs') }} class="details">Voir les actions</a>
			</div>
		</td>
		<td>
			14/07/2003
			<br>
			14h57
		</td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>
{% endfor %}</tbody></table>
{% endmacro %}

{% macro emplacements(emplacements = 'array des emplacements') %}
	<table>
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">N°</th>
			<th scope="col">Type d'hébergement (ID)</th>
			<th scope="col">Statut</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for emplacement in emplacements %}
			<tr>
				<th scope="row">
					{{ emplacement.id }}
				</th>
				<td>
					{{ emplacement.numero }}
				</td>
				<td>
					{{ emplacement.hebergement.nom }}
					({{emplacement.hebergement.id}})
				</td>
				<td>
					{% import "macro/badges.html.twig" as badge %}
					{{ badge.basic(emplacement.statut) }}
				</td>
				<td>
					<div class="actions">
						{{ _self.updateButton(emplacement.id) }}
						{{ _self.deleteButton(emplacement.id, path('app_admin_settings_emplacements_delete', {id: emplacement.id}), "Emplacement", emplacement.numero) }}
					</div>
				</td>
			</tr>
		{% endfor %}</tbody></table>
		
		{% endmacro %}
		
		{% macro saisons(saisons = 'array des saisons') %}<table><thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nom</th>
			<th scope="col">Début</th>
			<th scope="col">Fin</th>
			<th scope="col">Jours</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for i in 1..5 %}
			<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
				<th scope="row">
					{{ i }}
				</th>
				<td>
					Saison été 2003
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<div class="actions">
						{% set id = i %}
						{{ _self.addButton(id, "Ajouter une règle") }}
						{{ _self.updateButton(id) }}
						{{ _self.deleteButton(id) }}
					</div>
				</td>
			</tr>

			{% for i in 1..3 %}
				<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
					<th scope="row"></th>
					<td></td>
					<td>
						14/07/2003
					</td>
					<td>
						07/14/3002
					</td>
					<td>
						Lundi, Mercredi, Jeudi
					</td>
					<td>
						<div class="actions">
							{% set id = i %}
							{{ _self.updateButton(id) }}
							{{ _self.deleteButton(id) }}
						</div>
					</td>
				</tr>
			{% endfor %}

		{% endfor %}
		</tbody>
	</table>
{% endmacro %}

{% macro tags(tags = 'array des tag') %}
	<table>
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nom</th>
			<th scope="col">Emplacements</th>
			<th scope="col">Actions</th>
		</tr></thead><tbody>
		{% for tag in tags %}
			<tr>
				<th scope="row">
					{{ tag.id }}
				</th>
				<td>
					{{ tag.nom }}
				</td>
				<td>
					{{ tag.emplacements|length }} Emplacements
				</td>
				<td>
					<div class="actions">
						{{ _self.updateButton(tag.id) }}
						{{ _self.deleteButton(tag.id, path('app_admin_settings_tags_delete', {id: tag.id}), "Tag", tag.nom) }}
					</div>
				</td>
			</tr>
		{% endfor %}</tbody></table>{% endmacro %}

{% macro options(options = 'array des options') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Nom</th>
	<th scope="col">Statut</th>
	<th scope="col">Nombre maximum</th>
	<th scope="col">Emplacements</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for option in options %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ option.id }}
		</th>
		<td>
			{{ option.nom }}
		</td>
		<td>
			{% import "macro/badges.html.twig" as badge %}
			{{ badge.basic(option.statut)}}
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{{ _self.addButton(option.id, "Ajouter une option", false, path( 'app_admin_settings_options_maximum_create', {id: option.id}) ) }}
				{{ _self.updateButton(option.id) }}
				{{ _self.deleteButton(option.id, path( 'app_admin_settings_options_delete', {id: option.id} ), 'Option', option.nom) }}
			</div>
		</td>
	</tr>

	{% for maximum in option.optionMaximums %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td></td>
			<td>
				{{ maximum.id }}
			</td>
			<td>
				{{ dump(maximum) }}
			</td>
			<td>
			Saison, saison blabla
			</td>
			<td>
				<div class="actions">
					{{ _self.updateButton(maximum.id) }}
					{{ _self.deleteButton(maximum.id) }}
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro offres(offres = 'array des offres') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Type</th>
	<th scope="col">Nom</th>
	<th scope="col">Montant</th>
	<th scope="col">Début</th>
	<th scope="col">Fin</th>
	<th scope="col">Utilisations restantes</th>
	<th scope="col">Emplacements</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 1..2 %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ i }}
		</th>
		<td>
			{% if i % 2 %}
				Remises
			{% else %}
				Coupons
			{% endif %}
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.addButton(id, "Ajouter un tarif") }}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>
	{% for i in 1..3 %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td>REMISE08</td>
			<td>
				{{ 50 + (i * 2) }}
				€
			</td>
			<td>
				2023-01-01
			</td>
			<td>
				{% if i % 2 %}
					Pas de date de fin
				{% else %}
					2023-01-01
				{% endif %}
			</td>
			<td>
				{% if i % 2 %}
					20
				{% else %}
					Pas d'utilisations maximum
				{% endif %}
			</td>
			<td>
				{% if i % 2 %}
					Camping-Car
				{% else %}
					Tous
				{% endif %}
			</td>
			<td>
				<div class="actions">
					{% set id = i %}
					{{ _self.updateButton(id) }}
					{{ _self.deleteButton(id) }}
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro tarifs(tarifs = 'array des tarifs') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Nom</th>
	<th scope="col">Prix</th>
	<th scope="col">Par nuit</th>
	<th scope="col">Par personne</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 1..5 %}
	<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 !bg-gray-100 dark:!bg-gray-800">
		<th scope="row">
			{{ i }}
		</th>
		<td>
			Camping-car
		</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.addButton(id, "Ajouter un tarif") }}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>

	{% for i in 1..3 %}
		<tr class="hover:!bg-gray-200 dark:!border-gray-600 dark:hover:!bg-gray-700 dark:!bg-boxdark !bg-white">
			<th scope="row"></th>
			<td></td>
			<td>
				{{ 50 + (i * 2) }}
				€
			</td>
			<td>
				Oui
			</td>
			<td>
				Non
			</td>
			<td>
				{% if i % 2 %}
					Saison 2
				{% else %}
					Toutes
				{% endif %}

			</td>
			<td>
				<div class="actions">
					{% set id = i %}
					{{ _self.updateButton(id) }}
					{{ _self.deleteButton(id) }}
				</div>
			</td>
		</tr>
	{% endfor %}

{% endfor %}</tbody></table>{% endmacro %}{% macro jours(jours = 'array des règles') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Jours</th>
	<th scope="col">Type d'hébergement</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 1..5 %}
	<tr>
		<th scope="row">
			{{ i }}
		</th>
		<td>
			{% if i % 2 %}
				Tous
			{% else %}
				Lundi, Mercredi, Vendredi
			{% endif %}
		</td>
		<td>
			{% if i % 2 %}
				Camping-Car
			{% else %}
				Tous
			{% endif %}
		</td>
		<td>
			{% if i % 3 %}
				Saison 1
			{% else %}
				Tous
			{% endif %}
		</td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>

{% endfor %}</tbody></table>{% endmacro %}{% macro durée(durée = 'array des règles') %}<table><thead>
<tr>
	<th scope="col">ID</th>
	<th scope="col">Séjour</th>
	<th scope="col">Type d'hébergement</th>
	<th scope="col">Saisons</th>
	<th scope="col">Actions</th>
</tr></thead><tbody>
{% for i in 1..5 %}
	<tr>
		<th scope="row">
			{{ i }}
		</th>
		<td>
			{{ (i + 8) * 2 }}
			nuits
		</td>
		<td>
			{% if i % 2 %}
				Camping-Car
			{% else %}
				Tous
			{% endif %}
		</td>
		<td>
			{% if i % 3 %}
				Saison 1
			{% else %}
				Tous
			{% endif %}
		</td>
		<td>
			<div class="actions">
				{% set id = i %}
				{{ _self.updateButton(id) }}
				{{ _self.deleteButton(id) }}
			</div>
		</td>
	</tr>

{% endfor %}</tbody></table>{% endmacro %}