{% macro numberCard(name, number, more, svg) %}
	<!-- Card Item Start -->
	<div class="border-stroke px-7.5 shadow-default dark:border-strokedark dark:bg-boxdark rounded-sm border bg-white py-6">
		<div class="h-11.5 w-11.5 bg-meta-2 dark:bg-meta-4 flex items-center justify-center rounded-full">
			<svg class="fill-primary dark:fill-white" width="22" height="22" viewbox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				{{ svg|raw }}
			</svg>
		</div>

		<div class="mt-4">
			<h4 class="text-title-md font-bold text-black dark:text-white">
				{{number}}
			</h4>
			<div class="flex flex-wrap items-end justify-between">
				<span class="text-sm font-medium">{{name}}</span>

				<span class="text-meta-5 flex items-center gap-1 text-sm font-medium underline-animation hover:text-opacity-80">
					<a href={{ more.link }}>
						{{ more.text }}
					</a>
				</span>
			</div>
		</div>
	</div>
	<!-- Card Item End -->
{% endmacro %}

{% macro pieChart(title, more, series, labels) %}
	<div {{ stimulus_controller('chart--pie') }} data-chart--pie-series-value={{ series|json_encode }} data-chart--pie-labels-value={{ labels|json_encode }} class="border-stroke pt-7.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 col-span-12 rounded-sm border bg-white px-5 pb-5 xl:col-span-6">
		<div class="mb-3 justify-between gap-4 sm:flex">
			<div>
				<h4 class="text-xl font-bold text-black dark:text-white">
					{{ title }}
				</h4>
			</div>
			<div>
				<div class="text-meta-5 relative z-20 inline-block underline-animation hover:text-opacity-80">
					<a href={{ more.link }}>
						{{ more.text }}
					</a>
				</div>
			</div>
		</div>
		<div class="mb-2">
			<div {{ stimulus_target('chart--pie','div') }} class="mx-auto flex justify-center"></div>
		</div>
	</div>

{% endmacro %}
