{% macro basic(name, routeName, svg) %}

	<!-- Menu {{ name|upper }} -->
	<li>
		<a class="text-bodydark1 hover:bg-graydark dark:hover:bg-meta-4 group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium duration-300 ease-in-out" href={{ path( routeName ) }} @click="selected = (selected === '{{ routeName }}' ? '':'{{ routeName }}')" :class="{ 'bg-graydark dark:bg-meta-4': (selected === '{{ routeName }}') || (page === '{{ routeName }}') }" :class="page === 'slt{{ routeName }}' && 'bg-graydark'">
			{{ svg }}
			{{ name }}
		</a>
	</li>
	<!-- FIN Menu {{ name|upper }} -->

{% endmacro %}

{% macro detail(name, routeName) %}
	<!-- Menu {{ name|upper }} -->
	<li>
		<a class="text-bodydark1 hover:bg-graydark dark:hover:bg-meta-4 group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium duration-300 ease-in-out" href={{ path( routeName ) }} @click="selected = (selected === '{{ routeName }}' ? '':'{{ routeName }}')" :class="{ 'bg-graydark dark:bg-meta-4': (selected === '{{ routeName }}') && (page === '{{ routeName }}') }">
			{{ name }}
		</a>
	</li>
	<!-- FIN Menu {{ name|upper }} -->
{% endmacro %}

{% macro dropdown(name, routeName, svg, dropdown) %}
	<!-- Menu RESERVATIONS -->
	<li>
		<a class="text-bodydark1 hover:bg-graydark dark:hover:bg-meta-4 group relative flex items-center gap-2.5 rounded-sm py-2 px-4 font-medium duration-300 ease-in-out" href="#" @click.prevent="selected = (selected === '{{ routeName }}' ? '':'{{ routeName }}')" :class="{ 'bg-graydark dark:bg-meta-4': (selected === '{{ routeName }}') || (page === '{{ routeName }}' || page.includes('{{ routeName }}')) }">
			{{svg}}
			{{name}}
			<svg class="absolute right-4 top-1/2 -translate-y-1/2 fill-current" :class="{ 'rotate-180': (selected === '{{ routeName }}') }" width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M4.41107 6.9107C4.73651 6.58527 5.26414 6.58527 5.58958 6.9107L10.0003 11.3214L14.4111 6.91071C14.7365 6.58527 15.2641 6.58527 15.5896 6.91071C15.915 7.23614 15.915 7.76378 15.5896 8.08922L10.5896 13.0892C10.2641 13.4147 9.73651 13.4147 9.41107 13.0892L4.41107 8.08922C4.08563 7.76378 4.08563 7.23614 4.41107 6.9107Z" fill=""/>
			</svg>
		</a>

		<!-- Dropdown Menu Start -->
		<div class="overflow-hidden" :class="(selected === '{{ routeName }}') ? 'block' :'hidden'">
			<ul class="mb-5.5 mt-4 flex flex-col gap-2.5 pl-6">
				{% for item in dropdown %}
					<li>
						<a class="text-bodydark2 group relative flex items-center gap-2.5 rounded-md px-4 font-medium duration-300 ease-in-out hover:text-white  " href={{ (item.url) }} :class="page === '{{item.url}}' && '!text-white'">{{ item.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<!-- Dropdown Menu End -->
	</li>
	<!-- Menu RESERVATIONS -->
{% endmacro %}
