{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<section class="title">
		<h1>Connexion</h1>
	</section>

	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% endif %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}


	<main class="mx-[15%] my-2 mb-12 grid grid-cols-2">
		<article class="flex flex-col">
			<div class="title !font-normal text-lg">
				<h2>Se connecter</h2>
			</div>
			<div class="border-r border-main-200 grow p-16">
				<form method="post" class="space-y-4">
					<div class="relative">
						<label for="inputEmail" class="text-xl">Adresse email</label>
						<input type="email" value='{{ last_username }}' name="email" id="inputEmail" class="block pointer-events-auto px-2.5 pb-2.5 pt-4 mt-2 text-lg text-gray-900 border w-full appearance-none focus:outline-none focus:ring-0 focus:border-main-600" autocomplete="email" required placeholder="exemple@exemple.com"/>
					</div>
					<div class="relative">
						<label for="inputPassword" class="text-xl">Mot de passe</label>
						<div class="relative">
							<input type="password" name="password" id="inputPassword" class="block pointer-events-auto px-2.5 pb-2.5 pt-4 mt-2 text-lg text-gray-900 border w-full appearance-none focus:outline-none focus:ring-0 focus:border-main-600" autocomplete="current-password" required placeholder="***********"/>
							<div class="absolute right-4 top-4 cursor-pointer">
								<i {{ stimulus_controller('tools') }} {{ stimulus_action('tools','showPassword','click') }} data-tools-input-value='#inputPassword' class="fa-regular fa-eye w-6 h-6"></i>
							</div>
						</div>
					</div>
					<div class="relative flex gap-2">
						<input type="checkbox" name="remember" id="remember" class="accent-main-600 w-5 aspect-square cursor-pointer" checked/>
						<label for="remember" class="text-base">Se souvenir de moi</label>
					</div>
					<div class="relative">
						<input type="hidden" name="_csrf_token" value={{ csrf_token('authenticate') }}>
						<button class="button w-full" type="submit">
							Se connecter
						</button>
					</div>
				</form>
			</div>
		</article>
		<article {{ stimulus_controller('register') }} class="flex flex-col">
			<div class="title !font-normal text-lg">
				<h2>S'inscrire</h2>
			</div>
			<div class="border-l border-main-200 grow p-16">
				{{ form_start(registrationForm, { 'attr': {'class' : 'h-full flex flex-col gap-4' } }) }}
				<div {{ stimulus_target('register', 'stepOne')}} class="grow flex flex-col place-content-center gap-6">
					{{ form_row(registrationForm.email) }}
					<p>Cet email servira à vous identifier sur notre site. Pour vérifier qu'il est exact, nous allons vous envoyer un code de sécurité à cette adresse.</p>
				</div>
				<div {{ stimulus_target('register', 'stepTwo')}} class="hidden grow flex flex-col place-content-center gap-6">
					
					<p>Etape 2.</p>
				</div>
				<div {{ stimulus_target('register', 'stepThree')}} class="hidden grow flex flex-col place-content-center gap-6">
					
					<p>Etape 3.</p>
				</div>
				<div>
					<button {{ stimulus_action('register','goToNextStep') }} type="submit" class="button w-full mt-auto">
						Continuer
					</button>
				</div>
			</div>
		</article>
	</main>
{% endblock %}
{# {{ form_end(registrationForm) }} #}
