{% import 'admin/macro/sidebar_items.html.twig' as sidebar %}


<aside
	:class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'" class="z-9999 w-72.5 dark:bg-boxdark absolute left-0 top-0 flex h-screen flex-col overflow-y-hidden bg-black duration-300 ease-linear lg:static lg:translate-x-0" @click.outside="sidebarToggle = false">

	<!-- SIDEBAR HEADER -->
	<div class="py-5.5 lg:py-6.5 flex items-center justify-between gap-2 px-6">
		<a href={{ path('app_admin') }}>
			<img src="https://www.camping-mont-olympe.fr/wp-content/uploads/2020/04/logo-camping-mobile.png" alt="Logo"/>
		</a>

		<button class="block lg:hidden" @click.stop="sidebarToggle = !sidebarToggle">
			<svg class="fill-current" width="20" height="18" viewbox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 8.175H2.98748L9.36248 1.6875C9.69998 1.35 9.69998 0.825 9.36248 0.4875C9.02498 0.15 8.49998 0.15 8.16248 0.4875L0.399976 8.3625C0.0624756 8.7 0.0624756 9.225 0.399976 9.5625L8.16248 17.4375C8.31248 17.5875 8.53748 17.7 8.76248 17.7C8.98748 17.7 9.17498 17.625 9.36248 17.475C9.69998 17.1375 9.69998 16.6125 9.36248 16.275L3.02498 9.8625H19C19.45 9.8625 19.825 9.4875 19.825 9.0375C19.825 8.55 19.45 8.175 19 8.175Z" fill=""/>
			</svg>
		</button>
	</div>
	<!-- SIDEBAR HEADER -->

	<div
		class="no-scrollbar flex grow flex-col overflow-y-auto duration-300 ease-linear">
		<!-- Sidebar Menu -->
		<nav
			class="mt-5 flex h-full flex-col py-4 px-4 lg:mt-9 lg:px-6" x-data="{selected: $persist('Dashboard')}">
			<!-- Menu Group -->
			<div>
				<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">MENU</h3>

				<ul
					class="mb-6 flex flex-col gap-1.5">
					<!-- Menu Item Dashboard -->

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Accueil","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Type d'emplacements","app_admin",svg) }}


					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Emplacements","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Options supplémentaires","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Tarifs","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Règles de réservation","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Infos camping","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Registre","app_admin",svg) }}

					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" stroke-linecap="round" stroke-linejoin="round"></path>
					</svg>
					{% endset %}
					{{ sidebar.basic("Gestionnaires","app_admin",svg) }}

				</ul>
			</div>

			<!-- ! Super admin -->
			<div>
				<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">
					ADMINISTRATEUR
				</h3>

				<ul class="mb-6 flex flex-col gap-1.5">
					{% set svg %}
					<svg class="stroke-current" stroke-width="1.5" width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.325.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 0 1 1.37.49l1.296 2.247a1.125 1.125 0 0 1-.26 1.431l-1.003.827c-.293.241-.438.613-.43.992a7.723 7.723 0 0 1 0 .255c-.008.378.137.75.43.991l1.004.827c.424.35.534.955.26 1.43l-1.298 2.247a1.125 1.125 0 0 1-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.47 6.47 0 0 1-.22.128c-.331.183-.581.495-.644.869l-.213 1.281c-.09.543-.56.94-1.11.94h-2.594c-.55 0-1.019-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 0 1-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 0 1-1.369-.49l-1.297-2.247a1.125 1.125 0 0 1 .26-1.431l1.004-.827c.292-.24.437-.613.43-.991a6.932 6.932 0 0 1 0-.255c.007-.38-.138-.751-.43-.992l-1.004-.827a1.125 1.125 0 0 1-.26-1.43l1.297-2.247a1.125 1.125 0 0 1 1.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.086.22-.128.332-.183.582-.495.644-.869l.214-1.28Z" stroke-linecap="round" stroke-linejoin="round"></path>
						<path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" stroke-linecap="round" stroke-linejoin="round"></path>


					</svg>
					{% endset %}
					{{ sidebar.basic("Gestion camping","app_admin",svg) }}
				</ul>
			</div>

			<!-- ! AUTRE -->
			<div class="mt-auto opacity-50 transition-opacity hover:opacity-100">
				<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">AUTRES</h3>

				<ul
					class="mb-6 flex flex-col gap-1.5">

					{{ sidebar.detail('Mon compte','app_admin') }}

					{{ sidebar.detail('Se déconnecter','app_logout') }}

					{{ sidebar.detail('Aller sur le site','homepage') }}

				</ul>
			</div>
		</nav>
		<!-- Sidebar Menu -->
	</div>
</aside>
