{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1>Register</h1>

<div class="bg-gray-200">

	{{ form_start(registrationForm) }}
	{{form_widget(registrationForm)}}
	<button type="submit" class="button">
		Valider
	</button>
	{{ form_end(registrationForm) }}

</div>

	{# {{ form_errors(registrationForm) }}
		
		    {{ form_start(registrationForm) }}
		        {{ form_row(registrationForm.email) }}
		        {{ form_row(registrationForm.plainPassword, {
		            label: 'Password'
		        }) }}
		        {{ form_row(registrationForm.agreeTerms) }}
		
		        <button type="submit" class="btn">Register</button>
		    {{ form_end(registrationForm) }} #}
{% endblock %}
