{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!
{% endblock %}

{% block body %}


	<section class="title">
		<h1>Espace réservation</h1>
	</section>

	{# ! Conteneur d'étapes #}
	<section
		{{ stimulus_controller('step') }} id="step-container" class="my-6 [&>article]:mx-[15%]">
		{# ! Etape 1 : Durée du séjour #}
		<article data-step class="step-content border-2 border-black divide-y-2 divide-black [&>div]:py-10 [&>*]:px-[15%] bg-white">
			<h2 class="text-2xl text-center font-semibold py-6">Définissez votre séjour</h2>
			{# ! Date du séjour #}
			<div>
				<h3 class="font-semibold text-3xl">Quand ?</h3>
				<div {{ stimulus_controller('date_picker') }} class="flex flex-wrap gap-6 items-center mt-6 [&_i]:text-3xl [&_label]:text-2xl [&_input]:text-2xl">
					<div class="flex gap-6 items-center">
						<i class="fa fa-calendar text-3xl"></i>
						<label for="start">Du</label>
						<input name="start" type class="w-fit px-4 py-2 border-black caret-transparent cursor-pointer ">
					</div>
					<div class="flex gap-6 items-center">
						<i class="fa fa-calendar text-3xl"></i>

						<label for="end">Au</label>
						<input name="end" type class="w-fit px-4 py-2  border-black caret-transparent cursor-pointer ">
					</div>
				</div>
			</div>
			{# ! Nombre de personnes #}
			<div>
				<h3 class="font-semibold text-3xl">Qui ?</h3>
				<div class="flex flex-wrap gap-12 items-center mt-6 [&_label]:text-2xl [&_input]:text-[2rem]">
					<div class="flex gap-6 items-center">
						<i class="fa-solid fa-person text-3xl"></i>
						<label for="adult-counter">
							Adultes</label>
						<div class="relative flex items-center">
							<button data-input-counter-decrement="adult-counter" class="">
								<i class="fa fa-minus text-xl"></i>
							</button>
							<input type="text" id="adult-counter" data-input-counter class="max-w-[3ch] text-center focus:outline-none select-none cursor-default" placeholder="0" value="1" readonly required>
							<button data-input-counter-increment="adult-counter" class="">
								<i class="fa fa-plus text-xl"></i>
							</button>
						</div>
					</div>
					<div class="flex gap-6 items-center">
						<i class="fa-solid fa-child text-3xl"></i>
						<label for="child-counter">
							Enfants</label>
						<div class="relative flex items-center">
							<button data-input-counter-decrement="child-counter" class="">
								<i class="fa fa-minus text-xl"></i>
							</button>
							<input type="text" id="child-counter" data-input-counter class="max-w-[3ch] text-center focus:outline-none select-none cursor-default" placeholder="0" value="0" readonly required>
							<button data-input-counter-increment="child-counter" class="">
								<i class="fa fa-plus text-xl"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</article>
		{# ! Etape 2 : Type d'hébérgement #}
		<article data-step class="step-content border-2 border-black divide-y-2 divide-black bg-white">
			<h2 class="text-2xl text-center font-semibold py-6">Choisissez votre type d'hébèrgement</h2>
			<div class="slider">
				<div {{stimulus_controller('swiper')}} class="swiper-container">
					<div class="swiper-wrapper">
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5183-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5179-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5186-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5183-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5179-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
						<article class="swiper-slide max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
							<a href="#">
								<img class="rounded-t-lg" src="https://www.camping-mont-olympe.fr/wp-content/uploads/2019/04/IMG_5186-1024x683.jpg" alt=""/>
							</a>
							<div class="p-5">
								<a href="#">
									<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
								</a>
								<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
								<a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
									Read more
									<svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 10">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
									</svg>
								</a>
							</div>
						</article>
					</div>


					<!-- scrollbar -->
					<div class="swiper-scrollbar"></div>

					<!-- buttons -->
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</article>
		{# !! BOUTONS NAVIGATION #}
		<section id="nav-buttons" class="mt-12 mx-[15%] flex justify-between">
			<button {{ stimulus_target('step', 'previous') }} class="button" disabled>Précédent</button>
			<button {{ stimulus_target('step', 'next') }} class="button">Suivant</button>
		</section>
		{# !!!! PROGRESS BAR !!!! #}
		<section {{ stimulus_target('step', 'progress') }} id="progress" class="flex mx-0 my-20 gap-16 justify-center">
			<ol class="items-center space-y-4 sm:flex sm:space-x-12 sm:space-y-0 text-lg">
				<li class="progress-item">
					<span>1</span>
					<div>
						<h3>Durée du séjour</h3>
						<p>Des bon détails</p>
					</div>
				</li>
				<li class="progress-item">
					<span>2</span>
					<div>
						<h3>Type d'hébérgement</h3>
						<p></p>
					</div>
				</li>
				<li class="progress-item">
					<span>3</span>
					<div>
						<h3>Choix de l'emplacement</h3>
						<p></p>
					</div>
				</li>
				<li class="progress-item">
					<span>3</span>
					<div>
						<h3>Options supplémentaires</h3>
						<p></p>
					</div>
				</li>
				<li class="progress-item">
					<span>3</span>
					<div>
						<h3>Récapitulatif</h3>
						<p></p>
					</div>
				</li>
			</ol>
			<div id="order-button">
				<button class="button" disabled>Réserver</button>
				<div>Montant :
					<span id="current-price">0</span>€</div>
			</div>

		</section>
	</section>


{% endblock %}
