{% extends 'layout/public.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<section class="title">
		<h1>Votre compte</h1>
	</section>

	<main class="max-w-[800px] mx-auto mb-12 space-y-12">
		<section class="border-2 border-black">
			<div class="border-b-2 p-4 border-black">
				<h2 class="text-xl font-bold">Informations personnelles</h2>
			</div>
			<table class="w-full my-2">
				<thead class="hidden">
					<tr>
						<td scope="col" class="w-fit">
							Nom
						</td>
						<td scope="col">
							Valeur
						</td>
						<td scope="col text-end">
							Action
						</td>
					</tr>
				</thead>
				<tbody class="[&_td]:px-4 [&_td]:py-2">
					<tr>
						<td scope="row" class="font-semibold text-main-600 whitespace-nowrap text-start w-min ">
							Nom
						</td>
						<td class="text-start w-full">{{app.user.nom}}</td>
						<td class="text-end w-min text-main-600">
							<button class="hover:text-main-800">
								Modifier
							</button>

						</td>
					</tr>
					<tr>
						<td scope="row" class="font-semibold text-main-600 whitespace-nowrap text-start w-min ">
							Prénom
						</td>
						<td class="text-start w-full">{{app.user.prenom}}</td>
						<td class="text-end w-min text-main-600">
							<button class="hover:text-main-800">
								Modifier
							</button>

						</td>
					</tr>
					<tr>
						<td scope="row" class="font-semibold text-main-600 whitespace-nowrap text-start w-min ">
							Email
						</td>
						<td class="text-start w-full">{{app.user.email}}</td>
						<td class="text-end w-min text-main-600">
							<button class="hover:text-main-800">
								Modifier
							</button>

						</td>
					</tr>
					<tr>
						<td scope="row" class="font-semibold text-main-600 whitespace-nowrap text-start w-min ">
							Téléphone
						</td>
						<td class="text-start w-full">{{app.user.phone ?? 'Inconnu'}}</td>
						<td class="text-end w-min text-main-600">
							<button class="hover:text-main-800">
								Modifier
							</button>

						</td>
					</tr>
					<tr>
						<td scope="row" class="font-semibold text-main-600 whitespace-nowrap text-start w-min">
							Mot de passe
						</td>
						<td class="text-start w-full">**********</td>
						<td class="text-end w-min text-main-600 whitespace-nowrap">
							<div class="button">
								Modifier le mot de passe
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</section>


		<section class="border-2 border-black">
			<div class="border-b-2 p-4 border-black">
				<h2 class="text-xl font-bold">Vos réservations</h2>
			</div>
			<table class="w-full">
				<thead class="bg-main-100 border-b-2 border-black">
					<tr class="[&>*]:px-4 [&>*]:whitespace-nowrap [&>*]:py-2 [&>*]:text-center text-lg font-semibold">
						<td scope="col">Date du séjour</td>
						<td scope="col">Clients</td>
						<td scope="col">Hébergement</td>
						<td scope="col">Réservé le</td>
						<td scope="col">Prix</td>
						<td scope="col">Plus</td>
					</tr>
				</thead>
				<tbody class="[&_td]:px-4 [&_td]:py-2 [&_td]:text-center">
					{% for i in 1..5 %}
						<tr class="border-b-2 border-black last:border-0">
							<td>
								Du xx/xx/xxxx
								<br>
								Au xx/xx/xxxx
							</td>
							<td>
								{{ i }}
								adultes
								<br>
								1 enfant
							</td>
							<td>
								Camping-car
							</td>
							<td>
								xx/xx/xxxx
							</td>
							<td>
								250€
							</td>
							<td>
								<button class="button">
									<i class="fa fa-chevron-down"></i>
									Voir plus
								</button>
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		</section>


	</main>


{% endblock %}
