{% import "admin/macro/sidebar_items.html.twig" as sidebar %}
{% import "macro/svg.html.twig" as svg %}

<aside
	:class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'" class="z-9999 w-72.5 dark:bg-boxdark absolute left-0 top-0 flex h-screen flex-col overflow-y-hidden bg-black duration-300 ease-linear lg:static lg:translate-x-0" @click.outside="sidebarToggle = false">

	<!-- SIDEBAR HEADER -->
	<div class="py-5.5 lg:py-6.5 flex items-center justify-between gap-2 px-6">
		<a href={{ path('app_admin') }} @click="selected = (selected === 'app_admin' ? '':'app_admin')">
			<img src="https://www.camping-mont-olympe.fr/wp-content/uploads/2020/04/logo-camping-mobile.png" alt="Logo"/>
		</a>

		<button class="block lg:hidden" @click.stop="sidebarToggle = !sidebarToggle">
			{{ svg.leftArrow(20) }}
		</button>
	</div>
	<!-- SIDEBAR HEADER -->

	<div
		class="no-scrollbar flex grow flex-col overflow-y-auto duration-300 ease-linear">
		<!-- Sidebar Menu -->
		<nav
			class="mt-5 flex h-full flex-col py-4 px-4 lg:mt-9 lg:px-6" x-data="{selected: $persist('Dashboard')}">
			<!-- Menu Group -->
			<div>
				<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">MENU</h3>

				<ul
					class="mb-6 flex flex-col gap-1.5">
					<!-- Menu Item Dashboard -->
					{% set size = 20 %}

					{{ sidebar.basic("Accueil","app_admin",svg.house(size)) }}

					{% set dropdown = [
						{name: "Toutes", routeName: "app_admin_reservations"},
						{name: "Pointages", routeName: "app_admin_reservations_day"},
					] %}

					{{ sidebar.dropdown("Réservations","app_admin_reservations",svg.reservations(size), dropdown) }}


					{% set dropdown = [
						{name: "Du jour", routeName: "app_admin_paiements_day"},
						{name: "Du mois", routeName: "app_admin_paiements_month"},
					] %}

					{{ sidebar.dropdown("Caisse","app_admin_paiements_day",svg.bills(size), dropdown) }}


					{% set dropdown = [
						{name: "Semaine", routeName: "homepage"},
						{name: "Du mois", routeName: "homepage"},
					] %}

					{{ sidebar.dropdown("Planning","homepage",svg.calendar(size), dropdown) }}

				</li>
				<!-- Menu Planning -->

				{{ sidebar.basic("Statistiques","homepage",svg.stats(size)) }}

				{{ sidebar.basic("Clients","app_admin_clients",svg.user(size)) }}

				{{ sidebar.basic("Paiements","app_admin_paiements",svg.blueCard(size)) }}

			</ul>
		</div>

		<!-- ! Super admin -->
		<div>
			<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">
				ADMINISTRATEUR
			</h3>

			<ul
				class="mb-6 flex flex-col gap-1.5">
				<!-- Menu Item Paramètres -->
				<li>
					<ul class="mb-6 flex flex-col gap-1.5">
						{{ sidebar.basic("Paramètres","app_admin_settings",svg.settings(size)) }}
					</ul>
				</li>
				<!-- Menu Item Paramètres -->
			</ul>
		</div>

		<!-- ! AUTRE -->
		<div class="mt-auto opacity-50 transition-opacity hover:opacity-100">
			<h3 class="text-bodydark2 mb-4 ml-4 text-sm font-medium">AUTRES</h3>

			<ul class="mb-6 flex flex-col gap-1.5">

				{{ sidebar.detail('Mon compte','homepage') }}

				{{ sidebar.detail('Se déconnecter','app_logout') }}

				{{ sidebar.detail('Aller sur le site','homepage') }}

			</ul>
		</div>
	</nav>
	<!-- Sidebar Menu -->
</div></aside>
