{% extends 'layout/admin.html.twig' %}
{% import 'admin/macro/dashboard_cells.html.twig' as cell %}
{% import 'macro/svg.html.twig' as svg %}


{% block title %}
	Accueil
{% endblock %}

{% block body %}

	<!-- ! card items -->
	<div
		class="2xl:gap-7.5 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4">


		<!-- Card Item Start -->
		<div class="basic-card px-7.5 py-4">
			<form action="#" method="get">
				<div class="mt-4">
					<h4 class="text-title-xsm font-bold text-black dark:text-white">
						Vendredi 16 décembre 2023
					</h4>
				</div>
				<div class="relative my-2">
					<input type="date" name="date" required class="custom-input-date custom-input-date-2 border-stroke focus:border-primary active:border-primary dark:border-form-strokedark dark:bg-form-input dark:focus:border-primary w-full rounded border-[1.5px] bg-transparent py-3 px-4 font-medium outline-none transition"/>
				</div>
				<div class="flex flex-wrap justify-between">
					<span class="text-sm font-medium">Jour des données</span>
					<button type="submit" class="clickable underline">
						Modifier
					</button>
				</div>
			</form>
		</div>

		{% set size = 22 %}

		{% set more = {text: 'Ouvrir la caisse', link:path('app_admin') } %}
		{{ cell.numberCard('Caisse du jour','1520€',more,svg.shoppingCart(size))}}


		{% set more = {text: 'Voir plus', link:path('app_admin') } %}
		{{ cell.numberCard('Réservations','36.562',more,svg.shoppingBag(size))}}

		{% set more = {text: 'Voir les clients', link:path('app_admin') } %}
		{{ cell.numberCard('Utilisateurs','3.456',more,svg.users(size))}}

	</div>

	<!-- ! RESTE DE LA GRILLE -->
	<div class="2xl:mt-7.5 2xl:gap-7.5 mt-4 grid grid-cols-12 gap-4 md:mt-6 md:gap-6">
		<div class="col-span-full">
			<h2>
				Emplacements
			</h2>
		</div>
		<!-- ====== Graphique emplacements occupés -->

		{# TODO : intégration back #}
		{% set title = '12 Emplacements occupés' %}
		{% set more = {text: 'Réservations correspondantes', link: path('app_admin') } %}
		{% set series = [80, 34, 45, 12] %}
		{% set labels = ["Camping-car", "Caravane", "Port", "Emplacement_libre"] %}

		{{ cell.pieChart(title,more,series,labels) }}
		<!-- ====== Graphique emplacements occupés -->

		<!-- ====== Graphique emplacements libres -->

		{% set title = '12 Emplacements libres' %}
		{% set more = {text: 'Réservations correspondantes', link: path('app_admin') } %}
		{% set series = [20, 14, 35, 32] %}
		{% set labels = ["Camping-car", "Caravane", "Port", "Emplacement_libre"] %}

		{{ cell.pieChart(title,more,series,labels) }}
		<!-- ====== Graphique emplacements libres -->
		{# TODO : intégration back #}

			<!-- ! check in / check out / planning --> <div class="col-span-full"><h2>
				Planning
			</h2>
		</div>

		<!-- Check in -->
		{% set text = '8 arrivés à valider' %}
		{% set more = {text: 'Voir les check-in', link:path('app_admin') } %}


		{{ cell.textCard(text,more,svg.login(20))}}
		<!-- Check in -->

		<!-- Check out -->
		{% set text = '3 départs à valider' %}
		{% set more = {text: 'Voir les check-out', link:path('app_admin') } %}
		{{ cell.textCard(text,more,svg.logout(20))}}
		<!-- Check out -->

			<div class="col-span-full gap-4 sm:gap-6 xl:gap-2 xl:col-span-4 flex flex-col sm:flex-row xl:flex-col xl:justify-between"> <div class="w-full">
				<a href="#" class="btn w-full">
					Voir le planning
				</a>
			</div>
			<div class="w-full">
				<a href="#" class="btn w-full">
					Voir les statistiques
				</a>
			</div>


		</div>


	{% endblock %}
