{% extends 'layout/admin.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}

{% block body %}
	<div class="space-y-6">
		<div class="text-center">
			<h1 class="text-3xl font-black">Caisse du {{ day|date('d/m/Y') }}</h1>
		</div>

		<div class="md:flex flex-wrap space-y-4 md:space-y-0 gap-4">
			<form action="#" class="grid md:inline-flex gap-4">
				<input type="date" name="day" value={{day|date('Y-m-d')}}>
				<button type="submit" class="btn-sm btn ">
					Changer de jour</button>
			</form>
			<form action={{ path('app_admin_paiements_month') }} class="grid md:inline-flex gap-4">
				<input type="month" name="month" value={{ day|date('Y-m') }}>
				<button type="submit" class="btn-sm btn ">
					Changer de mois</button>
			</form>
			<form class="grid md:inline-flex gap-4">
				<input type="text" name="date" placeholder="Réservation">
				<button type="submit" class="btn-sm btn ">
					Encaisser un paiement</button>
			</form>
			<div class="grow flex justify-end text-end">
				<div class="flex justify-between w-full md:block md:w-auto">
					<h4 class="text-lg">{{ count }} paiements</h4>
					<a href={{ path('app_admin_paiements' )}} class="clickable">Voir tous les paiements</a>
				</div>
			</div>
		</div>

	<div class="mb-6 flex flex-wrap gap-4 justify-between lg:items-center max-lg:flex-col">
		<h2 class="text-title-md font-bold">Montant du jour : {{ (total / 100)|number_format(2, ',', '.') }}€</h2>
		{{ crud.tabulation(paiementsArray|map((array, index) => index)) }}
	</div>
		<div
			class="space-y-12">

			{% for method, array in paiementsArray %}
				{{ crud.basic("Paiements en " ~ method, tables.paiements(array.paiements, array.total), {total: array.total}) }}
			{% endfor %}


			{% if paiementsArray|length is same as 0 %}
			
			Aucun paiement ce jour
			
			{% endif %}
			

		</div>
	</div>
{% endblock %}
