{% extends 'layout/admin.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}
{% import 'macro/svg.html.twig' as svg %}


{% block body %}
	<div class="space-y-6">
		<div class="text-center">
			<h1 class="text-3xl font-black">Caisse de {{ month|format_date(locale='fr',pattern='MMMM Y')}}</h1>
		</div>

		<div class="md:flex flex-wrap space-y-4 md:space-y-0 gap-4">
			<form action={{path('app_admin_paiements_day')}} class="grid md:inline-flex gap-4">
				<input type="date" name="day" value={{month|date('Y-m-d')}}>
				<button type="submit" class="btn-sm btn ">
					Changer de jour</button>
			</form>
			<form action='#'  class="grid md:inline-flex gap-4">
				<input type="month" name="month" value={{ month|date('Y-m') }}>
				<button type="submit" class="btn-sm btn ">
					Changer de mois</button>
			</form>
			<form class="grid md:inline-flex gap-4">
				<input type="text" name="date" placeholder="Réservation">
				<button type="submit" class="btn-sm btn ">
					Encaisser un paiement</button>
			</form>
			<div class="grow flex justify-end text-end">
				<div class="flex justify-between w-full md:block md:w-auto">
					<h4 class="text-lg">{{ reservationTotal }} réservations</h4>
					<a href={{ path('app_admin_paiements' )}} class="clickable">Voir tous les paiements</a>
				</div>
			</div>
		</div>

		<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
			<h4 class="mb-6 text-xl font-bold text-black dark:text-white">
				Récapitulatif
			</h4>

			<div class="flex flex-col">
				<div class="grid grid-cols-3 rounded-sm bg-gray-2 dark:bg-meta-4 sm:grid-cols-5">
					<div class="p-2.5 xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Méthode</h5>
					</div>
					<div class="p-2.5 text-center xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Réservations</h5>
					</div>
					<div class="p-2.5 text-center xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Transactions</h5>
					</div>
					<div class="hidden p-2.5 text-center sm:block xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Montant moyen</h5>
					</div>
					<div class="hidden p-2.5 text-center sm:block xl:p-5">
						<h5 class="text-sm font-medium uppercase xsm:text-base">Montant total</h5>
					</div>
				</div>

				{% for i in 1..5 %}
					<div class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-5">
						<div class="flex items-center gap-3 p-2.5 xl:p-5">
							{% set size = 24 %}
							{% if i is same as 1 %}
								<div class="flex-shrink-0">
									{{ svg.blueCard(size) }}
								</div>
								<p class="hidden font-medium text-black dark:text-white sm:block">
									Carte bancaire
								</p>
							{% elseif i is same as 2 %}
								<div class="flex-shrink-0">
									{{ svg.coins(size) }}
								</div>
								<p class="hidden font-medium text-black dark:text-white sm:block">
									Espèce
								</p>
							{% elseif i is same as 3 %}
								<div class="flex-shrink-0">
									{{ svg.check(size) }}
								</div>
								<p class="hidden font-medium text-black dark:text-white sm:block">
									Chèques Vacances
								</p>
							{% elseif i is same as 4 %}
								<div class="flex-shrink-0">
									{{ svg.question(size) }}
								</div>
								<p class="hidden font-medium text-black dark:text-white sm:block">
									Autre
								</p>
							{% elseif i is same as 5 %}
								<div class="flex-shrink-0">
									{{ svg.reduction(size) }}
								</div>
								<p class="hidden font-medium text-black dark:text-white sm:block">
									Code de réduction
								</p>
							{% endif %}
						</div>

						<div class="flex items-center justify-center p-2.5 xl:p-5">
							<p class="font-medium text-black dark:text-white">3 500</p>
						</div>

						<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
							<p class="font-medium text-black dark:text-white">4 200</p>
						</div>

						<div class="hidden items-center justify-center p-2.5 sm:flex xl:p-5">
							<p class="font-medium text-black dark:text-white">65€</p>
						</div>

						<div class="flex items-center justify-center p-2.5 xl:p-5">
							<p class="font-medium text-meta-3">
								<span>8 300,56€</p>
							</p>
						</div>
					</div>
				{% endfor %}
				<div class="grid grid-cols-3 border-t border-black  dark:border-strokedark sm:grid-cols-5">
					<div class="flex items-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">Septembre 2023</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">12 000</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">15 000</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white">32€</p>
					</div>
					<div class="flex items-center justify-center p-2.5 xl:p-5">
						<p class="font-bold dark:text-white text-meta-3">17 500,26€</p>
					</div>
				</div>
			</div>
		</div>

		<div class="flex justify-between items-center">
			<div>
				<i class="fa fa-arrow-down"></i>
				Réservations correspondantes
				<i class="fa fa-arrow-down"></i>
			</div>
			{{ tables.printButton(0,"Imprimer le récapitulatif",true) }}
		</div>


	<div class="mb-6 flex flex-wrap gap-4 justify-between lg:items-center max-lg:flex-col">
		{{ crud.tabulation(paiementsArray|map((array, index) => index)) }}
	</div>

		<div
			class="space-y-12">

			{% for method, array in paiementsArray %}
				{{ crud.basic("Paiements en " ~ method, tables.paiements(array.paiements, array.total), {total: array.total}) }}
			{% endfor %}


			{% if paiementsArray|length is same as 0 %}
			
			Aucun paiement ce mois
			
			{% endif %}

		</div>
	</div>
{% endblock %}
