{% use 'tailwind_2_layout.html.twig' %}

{# Modifie toutes les lignes #}
{%- block form_row -%}


<div class="mb-4.5 form-row {{ errors|length > 0 ? "error" }} ">
		{{- form_label(form) -}}
		{{- form_widget(form) -}}
		{{- form_errors(form) -}}
</div>

{%- endblock %}

{# Custom de tous les labels #}
{%- block form_label -%}
    {%- set label_class = label_class|default('block text-black dark:text-white mb-2.5') -%}
    {{- parent() -}}
{%- endblock -%}

{# Custom de tous les inputs #}
{%- block widget_attributes -%}
	{%- set widget_class = widget_class|default('input-default') -%}
    {{- parent() -}}
{%- endblock -%}

{# Modifie les input type="file" #}
{%- block file_widget -%}
    {%- set widget_class = widget_class|default('input-default file') -%}
    {{- block('form_widget') -}}
{%- endblock -%}

