{% use 'tailwind_2_layout.html.twig' %}

{# Custom de tous les labels #}
{%- block form_label -%}
    {%- set label_class = label_class|default('block text-gray-500 uppercase tracking-wider text-sm font-bold') -%}
    {{- parent() -}}
{%- endblock -%}

{# Custom de tous les inputs #}
{%- block widget_attributes -%}
    {%- set widget_class = widget_class|default('mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-green-200 focus:ring focus:ring-green-200 focus:ring-opacity-50') -%}
    {{- parent() -}}
{%- endblock -%}


{# Modifie les input type="checkbox" #}
{%- block checkbox_widget -%}
    {%- set widget_class = widget_class|default('checked:bg-green-200 checked:hover:bg-green-200 checked:focus:bg-green-200 focus:bg-green-200  mr-2 rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50') -%}
    {{- parent() -}}
{%- endblock -%}

{# Modifie les label type="checkbox" #}
{%- block checkbox_label -%}
    {# {%- set label_class = label_class|default('block text-gray-800') -%} #}
    {{- block('form_label') -}}
{%- endblock -%}

{# Modifie les erreurs #}
{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul>
            {%- for error in errors -%}
                <li class="{{ error_item_class|default('text-red-700') }}">{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}


