{% extends 'layout/settings.html.twig' %}
{% import "macro/cards.html.twig" as cards %}

{% set title = "Types d'hébérgements" %}

{% block title %}
	{{ title }}
{% endblock %}


{% block body %}

	<div class="text-center">
		<h1 class="text-3xl font-black">
			{{ title }}
		</h1>
	</div>

	<div class="flex justify-between items-end">
		<a href={{ path('app_admin_settings_hebergements_create') }} class="btn">
			Ajouter un type d'hébérgement
		</a>
		<div>
			<a href={{ path('app_admin_settings_emplacements') }} class="clickable">Voir les emplacements</a>
		</div>
	</div>

	<section class="grid gap-12 mt-6">
		{% for hebergement in hebergements %}
			{{ cards.hebergementAdmin(hebergement) }}
		{% endfor %}
	</section>

{% endblock %}
