{% extends 'layout/settings.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}
{% import 'admin/macro/crud_filters.html.twig' as filters %}
{% import 'macro/inputs.html.twig' as inputs %}
{% import 'macro/svg.html.twig' as svg %}


{% block body %}
	<div class="mb-6 flex flex-wrap gap-4 justify-between lg:items-center max-lg:flex-col">
		<h2 class="text-title-md font-bold">{{ title }}</h2>
		{{ crud.tabulation(['Arrivés','Départs','Durée mini','Durée maxi','Plus'])}}
	</div>

	{{ crud.basic("Jours d'arrivées", tables.jours(checkIn), { create: 'Ajouter une règle', createPath: path('app_admin_settings_regles_sejour_create', {type: 'checkin'}) }) }}
	{{ crud.basic('Jours de départ', tables.jours(checkOut), { create: 'Ajouter une règle', createPath: path('app_admin_settings_regles_sejour_create', {type: 'checkout'}) }) }}
	{{ crud.basic('Durée minimum de séjour', tables.durée(minStay), { create: 'Ajouter une règle', createPath: path('app_admin_settings_regles_duree_create', {type: 'minstay'}) }) }}
	{{ crud.basic('Durée maximum de séjour', tables.durée(maxStay), { create: 'Ajouter une règle', createPath: path('app_admin_settings_regles_duree_create', {type: 'maxstay'}) }) }}

		{{ form_start(form) }}
	<div class="crud px-12 py-8 flex flex-col flex-wrap gap-y-6 gap-x-16 lg:flex-row">
		<div>
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">Informations clients obligatoires</h4>
			<div class="grid gap-4 mt-4">
				{{ form_row(form.client_nom)}}
				{{ form_row(form.client_prenom)}}
				{{ form_row(form.client_email)}}
				{{ form_row(form.client_telephone)}}
				{{ form_row(form.client_adresse)}}
			</div>
		</div>
		<div>
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">Choix de l'emplacement</h4>
			<div class="grid gap-4 mt-6">
				{{ form_row(form.emplacement_libre)}}
				{{ form_row(form.emplacement_aleatoire)}}
				{{ form_row(form.emplacement_defini)}}
			</div>
		</div>
		<div>
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">Méthodes de paiement</h4>
			<div class="grid gap-4 mt-6">
				{{ form_row(form.paiement_carte_bancaire) }}
				{{ form_row(form.paiement_virement_bancaire) }}
				{{ form_row(form.paiement_cheque_vacance) }}
				{{ form_row(form.paiement_cheque) }}
				{{ form_row(form.paiement_espece) }}
			</div>
		</div>
		<div>
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">Règlement</h4>
			<div class="grid gap-4 mt-6">
				{{ form_row(form.acompte) }}

				{{ form_row(form.paiement_sur_place) }}
			</div>
		</div>
		<div>
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">Montants</h4>
			<div class="grid gap-4 mt-6">
				<div>
					<div class="flex flex-wrap items-center gap-2 [&_label]:m-0">
						{{ form_widget(form.acompte_montant, {'attr': {'class': 'input-default !w-[6ch] !p-2' } }) }}
						{{ form_label(form.acompte_montant) }}
					</div>
					<div class="">
						{{ form_help(form.acompte_montant) }}
						{{ form_errors(form.acompte_montant) }}
					</div>
				</div>

				<div>
					<div class="flex flex-wrap items-center gap-2 [&_label]:m-0">
						{{ form_widget(form.taxe_sejour_montant, {'attr': {'class': 'input-default !w-[6ch] !p-2' } }) }}
						{{ form_label(form.taxe_sejour_montant) }}
					</div>
					<div class="">
						{{ form_help(form.taxe_sejour_montant) }}
						{{ form_errors(form.taxe_sejour_montant) }}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex mt-6 justify-content-end justify-items-end">
		<button type="submit" class="btn btn-md rounded-md" formnovalidate>Modifier</button>
	</div>
	
	{{ form_end(form) }}
{% endblock %}
