{% extends 'admin/settings/base.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}
{% import 'admin/macro/crud_filters.html.twig' as filters %}

{% set title = 'Règles de réservation' %}
{% set options = { create: 'Ajouter une règle' } %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<div class="mb-6 flex flex-wrap gap-4 justify-between lg:items-center max-lg:flex-col">
		<h2 class="text-title-md font-bold">{{ title }}</h2>
		<div {{ stimulus_controller('tabulation') }} data-tabulation-selector-value='.crud' class="tabulation">
			<button>Arrivés</button>
			<button>Départs</button>
			<button>Durée mini</button>
			<button>Durée maxi</button>
			<button>Plus</button>
		</div>
	</div>

	{{ crud.basic("Jours d'arrivées", tables.jours('arrivés'), options) }}
	{{ crud.basic('Jours de départ', tables.jours('départs'), options) }}
	{{ crud.basic('Durée minimum de séjour', tables.durée('mini'), options) }}
	{{ crud.basic('Durée maximum de séjour', tables.durée('maxi'), options) }}
	<div class="crud">
		<div>
			<h4>Informations clients obligatoires</h4>
		</div>
		<div>
			<h4>Emplacement</h4>
		</div>
		<div>
			<h4>Méthodes de paiement</h4>
		</div>
		<div>
			<h4>Acompte</h4>
		</div>


	</div>
{% endblock %}
