{% extends 'layout/admin.html.twig' %}
{% import 'admin/macro/crud.html.twig' as crud %}
{% import 'admin/macro/crud_tables.html.twig' as tables %}

{% block body %}
	<div class="space-y-12">
		<div class="text-center">
			<h1 class="text-3xl font-black">Réservations du {{ day|date('d/m/Y') }}</d>
		</div>
		<!-- ! date du jour -->
		<div class="md:flex flex-wrap space-y-4 md:space-y-0 gap-4">
			<form action="#" class="grid md:inline-flex gap-4">
				<input type="date" name="day" value={{day|date('Y-m-d')}}>
				<button type="submit" class="btn-sm btn ">
					Changer de jour</button>
			</form>

			<div class="grow flex justify-end text-end">
				<div class="flex justify-between w-full md:block md:w-auto">
					<h4 class="text-lg">{{ total }} réservations</h4>
					<a href={{ path('app_admin_reservations' )}} class="clickable">Voir tous les réservations</a>
				</div>
			</div>
		</div>


		<!-- ! Arrivées attendues -->
		{{ crud.basic("Arrivés attendues", tables.reservations(checkIns)) }}

		<!-- ! Départs attendues -->
		{{ crud.basic("Départs attendues", tables.reservations(checkOuts)) }}

		<!-- ! Réservations en cours -->
		{{ crud.basic("Réservations en cours", tables.reservations(current)) }}
	{% endblock %}
