{% extends 'admin/settings/base.html.twig' %}
{% import 'admin/macro/dashboard_cells.html.twig' as cell %}
{% import "macro/svg.html.twig" as svg %}


{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<!-- ! card items -->
	<div class="2xl:gap-7.5 grid grid-cols-12 gap-4 md:gap-6 text-base xl:text-lg">
		{# <div class="2xl:gap-7.5 grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6"> #}
		{# ! administration ! #}
			<div class="col-span-full"> <h2>
				Administrations
			</h2>
		</div>

		<!-- Card Item Start -->
		<article class="basic-card col-span-full xl:col-span-6">
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">
				Infos camping
			</h4>
			<div class="grid mt-4 gap-2 text-black dark:text-bodydark">
				<div>
					<span class="font-semibold">Nom :</span>
					Camping mont olympe
				</div>
				<div>
					<span class="font-semibold">Adresse :</span>
					17 rue des Paquerettes, 08000 Charleville-Mézières, France
				</div>
				<div>
					<span class="font-semibold">Tel :</span>
					06.06.06.06.06
				</div>
				<div>
					<span class="font-semibold">Mail :</span>
					camping@contact.com
				</div>

			</div>
			<div class="text-end mt-2">
				<a href="" class="clickable block">
					Modifier
				</a>
			</div>
		</article>

		<article class="basic-card flex flex-col col-span-full xl:col-span-6">
			<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">
				Dernières actions
			</h4>

			<div class="overflow-y-scroll grow max-h-60 xl:h-1">
				{% for i in 1..10 %}
					<a href="messages.html" class="flex items-center gap-5 py-3 px-7.5 hover:bg-gray-3 dark:hover:bg-meta-4 text-black dark:text-bodydark">
						<div class="relative h-8 w-8 rounded-full">
							{{ svg.blueCard }}
						</div>
						<div class="flex flex-1 items-center justify-between">
							<div>
								<h5 class="font-medium dark:font-semibold">
									Nabil bellila
								</h5>
								<p>
									<span class="text-sm font-medium">Ajout d'un paiement (réservation)</span>
								</p>
							</div>
							<div>
								<span class="text-xs text-body">15 nov, 12h26</span>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
			<div class="text-end mt-2">
				<a href={{ path('app_admin_settings_logs') }} class="clickable block">
					Voir le registre
				</a>
			</div>
		</article>


		{# ! Camping ! #}
		<div class="col-span-full">
			<h2>
				Camping
			</h2>
		</div>

		<!-- Card Item Start -->
		<article class="basic-card col-span-full xl:col-span-8 flex flex-wrap xl:flex-nowrap gap-6 xl:gap-12">
			<section class="">
				<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">
					120 emplacements, 5 types
				</h4>
				<div class="grid mt-4 gap-2 text-black dark:text-bodydark">
					<div>
						<span class="font-semibold">Camping-car :</span>
						22 emplacements
					</div>
					<div>
						<span class="font-semibold">Caravane :</span>
						30 emplacements
					</div>
					<div>
						<span class="font-semibold">Roulotte :</span>
						20 emplacements
					</div>
					<div>
						<span class="font-semibold">Emplacement simple :</span>
						12 emplacements
					</div>
					<div>
						<span class="font-semibold">Port :</span>
						12 emplacements
					</div>
				</div>
			</section>
			<section class="grid gap-2  grow">
				<button class="btn">Types d'hébèrgements</button>
				<a href={{ path('app_admin_settings_emplacements') }} class="btn">Emplacements</a>
				<button class="btn">Carte interactive</button>
			</section>
		</article>

		<!-- Card Item Start -->
		<article class="basic-card col-span-full xl:col-span-4 grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-1 gap-2">
			<div class="space-y-2">
				<div class="flex flex-wrap justify-between">
					<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">
						Saison en cours
					</h4>
					<a href={{ path('app_admin_settings_saisons') }} class=" clickable xl:block">
						Voir les saisons
					</a>
				</div>
				<div class="grid">
					<button class="btn max-xl:px-2 btn">Haute saison 2023</button>
				</div>
			</div>
			<div class="space-y-2">
				<h4 class="text-title-xsm xl:text-title-sm font-bold text-black dark:text-white">
					Prochaine saison
				</h4>
				<div class="grid">
					<button class="btn max-xl:px-2 btn-border pointer-events-none">Basse saison 2024</button>
				</div>
			</div>
		</article>


		{# ! Paramètres ! #}
		<div class="col-span-full">
			<h2>
				Personnaliser
			</h2>
		</div>

		{% set width, classes, stroke = '100%','', 1 %}
		{{ cell.imageCard("Règles de réservation","app_admin_settings",svg.rules(width,classes,stroke)) }}
		{{ cell.imageCard("Tarifs","app_admin_settings",svg.bills(width,classes,stroke)) }}
		{{ cell.imageCard("Options supplémentaires","app_admin_settings_options",svg.dog(width,classes,stroke)) }}
	</div>
{% endblock %}
